HELP.md
target/
shardingsphere-ui-frontend/node
shardingsphere-ui-frontend/node_modules
shardingsphere-ui-frontend/test
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
shardingsphere-ui-frontend/test/coverage/
